openapi: 3.1.0

info:
  title: Wakemate API
  version: 0.1.0
  description: |
    What the iOS client needs from the server. Companion to `docs/api-contract.md`, which explains
    the reasoning — read that first, this is the machine-readable half.

    **The server is never in the ringing path.** Alarms are scheduled on the device by iOS
    AlarmKit and fire offline, in airplane mode, with the app killed. Do not build alarm
    scheduling, snooze handling, or "send a notification at 07:00".

    Three device-local fields must never cross this wire: `nativeAlarmId` (AlarmKit's id on one
    device), `voiceSoundName` (the audio's filename on one device), and personal alarms (alarms
    with no room, which never leave the phone).

  license:
    name: MIT
    identifier: MIT

servers:
  - url: https://api.wakemate.app/v1
    description: Placeholder — the real host is the backend's to choose.

security:
  - bearerAuth: []

tags:
  - name: auth
    description: Identity. Everything else is scoped to the signed-in user.
  - name: rooms
    description: Who you wake up with, and each member's own schedule.
  - name: voice
    description: The audio itself, and who it wakes on which morning.
  - name: mornings
    description: The shared log of who actually got up.

paths:
  /me:
    post:
      tags: [auth]
      summary: Register this device and get a session
      security: []
      description: |
        v1 has no login. The device asks once, keeps the token, and the returned `userId` is this
        person's `Member.id` everywhere. The name arrives in the `PATCH` right after, from
        onboarding.

        A reinstall loses the account — known and accepted for v1. When Sign in with Apple lands it
        must be able to *attach* to a user created this way rather than replace it, so keep the user
        row identity-agnostic.
      responses:
        '201':
          description: Session
          content:
            application/json:
              schema:
                type: object
                required: [userId, token]
                properties:
                  userId: { type: string, examples: ['usr_01H8XK'] }
                  token: { type: string }
    patch:
      tags: [auth]
      summary: Rename myself
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string, maxLength: 40 }
      responses:
        '200':
          description: Me
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Me' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /me/voice:
    post:
      tags: [voice]
      summary: Upload my wake-up voice
      description: |
        **The audio must come back in a format iOS can ring.**

        The client uploads CoreAudio Format (`.caf`), 16-bit linear PCM, mono, 44.1 kHz. iOS alert
        sounds accept PCM / µ-law / a-law in `.caf`, `.aiff` or `.wav` only, 30 seconds maximum;
        recordings are capped at 10s client-side.

        Do not transcode to mp3 or AAC. Those play fine in any audio player and are silently
        refused as an alarm sound. Compressing for storage is fine as long as `voiceUrl` serves
        PCM.

        Measured size: 578 KB for 6.5 s (~90 KB/s), so budget ~900 KB per voice.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file, durationMs]
              properties:
                file:
                  type: string
                  format: binary
                  description: .caf, 16-bit linear PCM, mono, 44.1 kHz
                durationMs: { type: integer, examples: [7400] }
      responses:
        '201':
          description: Stored
          content:
            application/json:
              schema:
                type: object
                required: [voiceUrl, voiceUpdatedAt]
                properties:
                  voiceUrl: { type: string, format: uri }
                  voiceUpdatedAt: { type: string, format: date-time }
        '413': { description: Too large }
        '415': { description: Not a format iOS can ring }

  /me/devices:
    post:
      tags: [auth]
      summary: Register this device for push
      description: |
        **Deferred — not in v1.** Kept here for the shape only; see `MVP.md`. The client has no
        token-registration path and `expo-notifications` is being removed.

        Push is only ever used to keep data fresh — never to ring anything. Worth a silent push
        when someone joins, leaves or is removed from a room, a member replaces a voice, or
        assignments change. Without it a replaced voice can take a day to arrive and a removed
        member can ring once more.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [apnsToken]
              properties:
                apnsToken: { type: string }
      responses:
        '204': { description: Registered }

  /rooms:
    get:
      tags: [rooms]
      summary: Every room I am in, with all members
      responses:
        '200':
          description: Rooms
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Room' }
    post:
      tags: [rooms]
      summary: Create a room
      description: |
        Only a name. The person starting a room does not set anyone else's wake-up time — each
        member keeps their own. The creator starts at 07:00 on weekdays.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string, maxLength: 40 }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Room' }

  /rooms/join:
    post:
      tags: [rooms]
      summary: Join a room by its invite code
      description: |
        The endpoint the client is waiting on most. `store.joinRoomByCode` currently fakes it by
        creating a *local* room carrying the code, so two phones with the same code are two
        unrelated rooms. Nothing about the product works until this is real.

        Codes expire 7 days after issue, and rooms hold at most 5 people — both are checked here and
        nowhere else. Keep 404 and 410 distinct: "no such code" and "this code has expired" are
        different problems for the person typing it, and the client says different things.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code: { $ref: '#/components/schemas/InviteCode' }
      responses:
        '200':
          description: Joined
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Room' }
        '404': { description: No room with that code }
        '409': { description: 'Already a member, or the room already has 5' }
        '410': { description: That code has expired }

  /rooms/{roomId}:
    parameters:
      - $ref: '#/components/parameters/RoomId'
    patch:
      tags: [rooms]
      summary: Rename a room
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string, maxLength: 40 }
      responses:
        '200':
          description: Renamed
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Room' }
        '404': { $ref: '#/components/responses/NotFound' }

  /rooms/{roomId}/code:
    parameters:
      - $ref: '#/components/parameters/RoomId'
    post:
      tags: [rooms]
      summary: Reissue the invite code
      description: |
        Owner only. Returns a fresh code and a fresh 7-day expiry; the old code stops working
        immediately. This is the answer to a leaked code, which is why it is restricted the same way
        removing a member is.
      responses:
        '200':
          description: New code
          content:
            application/json:
              schema:
                type: object
                required: [code, codeExpiresAt]
                properties:
                  code: { $ref: '#/components/schemas/InviteCode' }
                  codeExpiresAt: { type: string, format: date-time }
        '403': { description: Not the owner }
        '404': { $ref: '#/components/responses/NotFound' }

  /rooms/{roomId}/owner:
    parameters:
      - $ref: '#/components/parameters/RoomId'
    put:
      tags: [rooms]
      summary: Hand the room over to another member
      description: |
        Owner only, and `memberId` must already be in the room.

        Ownership never moves on its own — an owner who wants to leave calls this first. Keeping it
        separate from leaving also lets an owner hand the room over and stay.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [memberId]
              properties:
                memberId: { type: string }
      responses:
        '200':
          description: Handed over
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Room' }
        '403': { description: Not the owner }
        '404': { $ref: '#/components/responses/NotFound' }

  /rooms/{roomId}/members/me:
    parameters:
      - $ref: '#/components/parameters/RoomId'
    delete:
      tags: [rooms]
      summary: Leave a room
      description: |
        Deletes this person's `WakeRecord`s for the room and nulls `wokenByMemberId` on the records
        of anyone they woke. Leaving leaves no trace.

        An owner cannot leave a room that still has other members — **409** until they name a
        successor through `PUT /rooms/{roomId}/owner`. An owner who is the last member leaves
        normally and the room is deleted.
      responses:
        '204': { description: Left }
        '409': { description: Owner must hand the room over first }
        '404': { $ref: '#/components/responses/NotFound' }

  /rooms/{roomId}/members/{memberId}:
    parameters:
      - $ref: '#/components/parameters/RoomId'
      - name: memberId
        in: path
        required: true
        schema: { type: string }
    delete:
      tags: [rooms]
      summary: Remove someone from a room
      description: |
        Only `ownerId` may remove another member; anyone else gets 403.

        Same erasure as leaving: delete their `WakeRecord`s for this room and null
        `wokenByMemberId` on the records of anyone they woke.

        There is no push in v1, so the removed phone finds out only when it next asks — `GET /rooms`
        on foreground. From here on this room must be absent from that list, and its own endpoints
        must answer 403 or 404 for that user; the client then deletes the room locally and cancels
        its alarm. Until that next foreground the removed phone can still ring once for this room.
      responses:
        '204': { description: Removed }
        '403': { description: Not the owner }
        '404': { $ref: '#/components/responses/NotFound' }

  /rooms/{roomId}/members/me/alarm:
    parameters:
      - $ref: '#/components/parameters/RoomId'
    put:
      tags: [rooms]
      summary: Set my own schedule in a room
      description: |
        Whole object, idempotent. The client always holds the full schedule, so a PATCH would only
        add ways for the two sides to disagree.

        Other members' schedules are read-only to me: the room shows everyone's time, and nobody
        can move anyone else's alarm.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AlarmSchedule' }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Member' }
        '404': { $ref: '#/components/responses/NotFound' }

  /rooms/{roomId}/assignments:
    parameters:
      - $ref: '#/components/parameters/RoomId'
    get:
      tags: [voice]
      summary: Whose voice wakes me, per day
      description: |
        **The one rule that has to live on the server.** The client currently picks at random at
        scheduling time, so every device picks separately and the alarm is scheduled with one voice
        while the reveal screen re-rolls and may name someone else.

        AlarmKit needs a concrete filename days in advance, so the pick must be decided ahead and
        stay **stable** — a device that fetched Monday's voice must get the same answer tomorrow,
        or the reveal lies.

        Uniform-at-random among members who have recorded and are not me. Nice to have: avoid the
        same voice two mornings running.

        The client schedules a week ahead, downloads each `voiceUrl` once, and keeps it in the App
        Group so AlarmKit can play it offline.
      parameters:
        - name: from
          in: query
          required: true
          schema: { type: string, format: date, examples: ['2026-08-15'] }
        - name: days
          in: query
          schema: { type: integer, default: 7, minimum: 1, maximum: 14 }
      responses:
        '200':
          description: Assignments
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Assignment' }
        '404': { $ref: '#/components/responses/NotFound' }

  /rooms/{roomId}/wakes:
    parameters:
      - $ref: '#/components/parameters/RoomId'
    get:
      tags: [mornings]
      summary: The room's morning log
      parameters:
        - name: from
          in: query
          required: true
          schema: { type: string, format: date }
        - name: to
          in: query
          required: true
          schema: { type: string, format: date }
      responses:
        '200':
          description: Wake records
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/WakeRecord' }
    post:
      tags: [mornings]
      summary: Record that I got up
      description: |
        Written when the person taps **I'm up**, which can be minutes after the alarm and possibly
        offline. Accept a `wokeAt` in the past, and make it **idempotent per (room, member, date)**
        so a retry does not create a second morning.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [date, wokeAt]
              properties:
                date: { $ref: '#/components/schemas/LocalDate' }
                wokeAt: { $ref: '#/components/schemas/LocalDateTime' }
                wokenByMemberId:
                  type: [string, "null"]
                  description: Null if it rang with the default sound.
      responses:
        '200':
          description: Recorded (or already was)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WakeRecord' }
        '404': { $ref: '#/components/responses/NotFound' }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

  parameters:
    RoomId:
      name: roomId
      in: path
      required: true
      schema: { type: string }

  responses:
    Unauthorized:
      description: Missing or invalid token
    NotFound:
      description: No such room, or I am not in it

  schemas:
    LocalDate:
      type: string
      format: date
      description: YYYY-MM-DD in the person's own local time.
      examples: ['2026-08-15']

    LocalDateTime:
      type: string
      description: |
        Local wall clock with **no zone suffix**. An alarm at 07:00 means 07:00 wherever the phone
        is; converting to UTC anywhere in this API will move somebody's morning.
      examples: ['2026-08-15T06:58:00']

    InviteCode:
      type: string
      pattern: '^[ABCDEFGHJKLMNPQRSTUVWXYZ2-9]{6}$'
      description: Six characters, no 0/O/1/I — these get read aloud and typed.
      examples: ['K7QM3P']

    AlarmSchedule:
      type: object
      description: One person's own wake-up in one room.
      required: [time, days, enabled, snoozeEnabled, snoozeMinutes]
      properties:
        time:
          type: string
          pattern: '^([01][0-9]|2[0-3]):[0-5][0-9]$'
          description: 24h local wall clock.
          examples: ['07:00']
        days:
          type: integer
          minimum: 0
          maximum: 127
          description: |
            Bitmask, bit0=Mon … bit6=Sun. 31 = weekdays, 96 = weekends, 127 = every day,
            0 = one-shot.
          examples: [31]
        enabled: { type: boolean }
        snoozeEnabled: { type: boolean }
        snoozeMinutes:
          type: integer
          enum: [5, 9, 10, 15]

    Me:
      type: object
      required: [id, name]
      properties:
        id: { type: string }
        name: { type: string }
        voiceUrl: { type: [string, "null"], format: uri }
        voiceDurationMs: { type: [integer, "null"] }

    Member:
      type: object
      description: A person as everyone else in the room sees them.
      required: [id, name]
      properties:
        id: { type: string }
        name: { type: string }
        voiceUrl:
          type: [string, "null"]
          format: uri
          description: Null until they record.
        voiceDurationMs: { type: [integer, "null"] }
        voiceUpdatedAt:
          type: [string, "null"]
          format: date-time
          description: So the client knows when to re-download.
        alarm:
          oneOf:
            - $ref: '#/components/schemas/AlarmSchedule'
            - type: 'null'
          description: Null if they have not set one; nothing rings for them.

    Room:
      type: object
      description: At most 5 members; the sixth join is refused.
      required: [id, name, code, codeExpiresAt, ownerId, createdAt, members]
      properties:
        id: { type: string }
        name: { type: string }
        code: { $ref: '#/components/schemas/InviteCode' }
        codeExpiresAt:
          type: string
          format: date-time
          description: |
            7 days after the code was issued. The client shows the time left and, once past, offers
            the owner a reissue instead of a dead code.
        ownerId:
          type: string
          description: |
            Whoever created the room. The only member who can remove someone, reissue the code, or
            hand the room over. Ownership never moves on its own.
        createdAt: { type: string, format: date-time }
        members:
          type: array
          maxItems: 5
          description: Join order.
          items: { $ref: '#/components/schemas/Member' }

    Assignment:
      type: object
      required: [date, wokenByMemberId]
      properties:
        date: { $ref: '#/components/schemas/LocalDate' }
        wokenByMemberId:
          type: [string, "null"]
          description: |
            Null when nobody in the room has recorded — the client falls back to the system alarm
            sound rather than scheduling against a file that does not exist.
        voiceUrl: { type: [string, "null"], format: uri }

    WakeRecord:
      type: object
      description: One person, one morning, one room.
      required: [roomId, date, memberId, wokeAt]
      properties:
        roomId: { type: string }
        date: { $ref: '#/components/schemas/LocalDate' }
        memberId: { type: string }
        wokeAt: { $ref: '#/components/schemas/LocalDateTime' }
        wokenByMemberId: { type: [string, "null"] }
