openapi: 3.1.0

info:
  title: Wakemate API
  version: 0.1.0
  description: |
    iOS 클라이언트가 서버에 요구하는 것. `docs/api-contract.md`가 **왜 그런지**를 설명하는 짝이고,
    이 파일은 기계용 절반이다. 먼저 그쪽을 읽을 것 — 특히 「구현 순서」와 테이블 정의.

    **서버는 울리는 경로에 없다.** 알람은 기기에서 iOS AlarmKit이 울리고, 오프라인·기내 모드·앱이
    죽은 상태에서도 울린다. 알람 스케줄링, 스누즈 처리, "07:00에 알림 보내기"를 만들지 말 것.

    기기 로컬 필드 세 개는 이 선을 넘지 않는다: `nativeAlarmId`(한 기기에서의 AlarmKit id),
    `voiceSoundName`(한 기기에서의 파일명), 그리고 개인 알람(방 없는 알람, 폰을 떠나지 않는다).

  license:
    name: MIT
    identifier: MIT

servers:
  - url: https://api.wakemate.app/v1
    description: 자리표시자 — 실제 호스트는 백엔드가 정한다.

security:
  - bearerAuth: []

tags:
  - name: auth
    description: 신원. 나머지 전부가 로그인한 유저 기준이다.
  - name: rooms
    description: 누구와 함께 일어나는지, 그리고 각자의 스케줄.
  - name: voice
    description: 오디오 자체와, 어느 아침에 누구를 깨우는지.
  - name: mornings
    description: 누가 실제로 일어났는지에 대한 공유 기록.

paths:
  /me:
    post:
      tags: [auth]
      summary: 이 기기를 등록하고 세션을 받는다
      security: []
      description: |
        v1에는 로그인이 없다. 기기가 한 번 물어보고 토큰을 보관하며, 돌려받은 `userId`가 모든 곳의
        `Member.id`다. 이름은 바로 뒤따르는 `PATCH`로 온보딩에서 들어온다.

        **토큰은 만료되지 않아야 한다.** 클라이언트에 갱신 경로가 없어서, 만료되면 사용자는 방과
        기록을 잃고 되돌릴 방법이 없다. DB에 저장하는 불투명 토큰으로 충분하다.

        재설치하면 계정이 사라진다 — 알고 받아들인 대가다. 나중에 Sign in with Apple을 붙일 때
        **이렇게 만들어진 유저에 붙일 수 있어야** 하므로 user 행을 인증 수단에 묶지 말 것.
      responses:
        '201':
          description: 세션
          content:
            application/json:
              schema:
                type: object
                required: [userId, token]
                properties:
                  userId: { type: string, examples: ['usr_01H8XK'] }
                  token: { type: string }
    patch:
      tags: [auth]
      summary: 내 이름 변경
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string, maxLength: 40 }
      responses:
        '200':
          description: Me
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Me' }
        '401': { $ref: '#/components/responses/Unauthorized' }

    delete:
      tags: [auth]
      summary: 계정 삭제
      description: |
        심사 기준 5.1.1(v) — 계정을 만들 수 있으면 지울 수도 있어야 한다. 유저 행, 멤버십, 기상
        기록, 목소리 파일까지 전부 지운다.

        방장인 방은 나가기와 같은 규칙을 따르되 서버가 알아서 처리한다 — 다른 멤버가 있으면 참여
        순서가 가장 빠른 멤버에게 이관하고, 혼자면 방을 삭제한다. 계정을 지우려는 사람에게 방 정리를
        시키지 않는다 (나가기의 409와 다른 점).
      responses:
        '204': { description: 삭제됨 }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /me/voice:
    post:
      tags: [voice]
      summary: 내 목소리 업로드
      description: |
        **오디오는 왕복해도 iOS가 알람으로 울릴 수 있는 포맷이어야 한다.**

        클라이언트가 올리는 것은 CAF(`.caf`), 16-bit linear PCM, mono, 44.1 kHz다. iOS 알람음은
        PCM / µ-law / a-law를 담은 `.caf`, `.aiff`, `.wav`만 받고 최대 30초이며, 녹음은
        클라이언트에서 10초로 제한된다.

        **mp3나 AAC로 변환하지 말 것.** 일반 플레이어에서는 잘 들리고 알람음으로는 조용히 거부된다.
        저장할 때 압축하는 것은 `voiceUrl`이 내려주는 바이트가 PCM이면 상관없다.

        측정 크기: 6.5초에 578 KB(약 90 KB/s). 하나에 900 KB 정도로 잡을 것.

        **목소리는 사람당 하나이고 교체된다.** 매일 녹음하는 것이 아니다. 다시 올리면 그 사람이 속한
        모든 방에 그대로 쓰이고 `voiceUpdatedAt`이 갱신된다.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file, durationMs]
              properties:
                file:
                  type: string
                  format: binary
                  description: .caf, 16-bit linear PCM, mono, 44.1 kHz
                durationMs: { type: integer, examples: [7400] }
      responses:
        '201':
          description: 저장됨
          content:
            application/json:
              schema:
                type: object
                required: [voiceUrl, voiceUpdatedAt]
                properties:
                  voiceUrl: { type: string, format: uri }
                  voiceUpdatedAt: { type: string, format: date-time }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '413': { $ref: '#/components/responses/FileTooLarge' }
        '415': { $ref: '#/components/responses/UnsupportedFormat' }

  /voice/{userId}:
    parameters:
      - name: userId
        in: path
        required: true
        schema: { type: string }
    get:
      tags: [voice]
      summary: 목소리 .caf 바이트를 받는다
      description: |
        `Member.voiceUrl`이 가리키는 곳. **같은 Bearer 토큰으로 인증한다** — 서명 없는 공개 URL이
        아니다. 실제 사람의 목소리 녹음이라 URL을 아는 누구나 들을 수 있게 두면 안 된다.

        접근 권한은 **나와 방을 공유하는 사람의 목소리만**이다. 아무 `userId`나 받아갈 수 있으면 안
        된다.

        객체 스토리지를 쓴다면 `voiceUrl`에 짧은 수명의 서명 URL을 담아도 된다. 그 경우
        **`voiceUpdatedAt`은 서명이 바뀌어도 그대로**여야 한다 — 클라이언트가 이 값으로 다시 받을지
        결정하기 때문에, 매번 달라지면 매번 다시 내려받는다.
      responses:
        '200':
          description: .caf 바이트
          content:
            audio/x-caf:
              schema: { type: string, format: binary }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403':
          description: 나와 방을 공유하지 않는 사람의 목소리
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '404': { $ref: '#/components/responses/NotFound' }

  /me/blocks/{userId}:
    parameters:
      - name: userId
        in: path
        required: true
        schema: { type: string }
    post:
      tags: [voice]
      summary: 차단 — 이 사람 목소리로 깨지 않는다
      description: |
        심사 기준 1.2 — 녹음이 남에게 전달되는 앱은 차단이 있어야 한다.

        배정에서 **양방향으로 뺀다**: 이 사람 목소리가 나를 깨우지 않고, 내 목소리도 이 사람을
        깨우지 않는다. 이미 만들어진 배정은 고정 규칙대로 두고 다음 배정부터 반영한다.
      responses:
        '204': { description: 차단됨 }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      tags: [voice]
      summary: 차단 해제
      responses:
        '204': { description: 해제됨 }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /reports:
    post:
      tags: [voice]
      summary: 신고 접수
      description: |
        심사 기준 1.2 — 신고 수단이 있고 개발자가 대응한다는 것. 저장해서 운영자가 볼 수 있으면
        v1로는 충분하고, 자동 조치는 없다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [memberId, roomId]
              properties:
                memberId: { type: string }
                roomId: { type: string }
      responses:
        '201': { description: 접수됨 }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /me/devices:
    post:
      tags: [auth]
      summary: 푸시용 기기 등록
      description: |
        **v1 아님.** 모양만 남겨둔 것이다(`docs/MVP.md`). 클라이언트에 토큰 등록 경로가 없고
        `expo-notifications`도 제거했으니 지금 만들지 말 것.

        나중에 붙일 때도 데이터를 최신으로 유지하는 용도이며 **무언가를 울리는 데 쓰지 않는다.**
        보낼 만한 시점: 누가 방에 들어오거나 나가거나 강퇴됐을 때, 멤버가 목소리를 교체했을 때,
        배정이 바뀔 때. 없으면 앱이 다음 포그라운드에 알게 되므로, 교체된 목소리가 최대 하루 늦고
        강퇴된 멤버가 한 번 더 울릴 수 있다. 푸시를 뺀 대가다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [apnsToken]
              properties:
                apnsToken: { type: string }
      responses:
        '204': { description: 등록됨 }

  /rooms:
    get:
      tags: [rooms]
      summary: 내가 속한 방 전부, 멤버까지
      description: |
        **포그라운드 갱신 경로.** 푸시가 없으므로 앱은 이 응답으로만 세상의 변화를 안다 — 새 멤버,
        교체된 목소리, 그리고 내가 이 방에서 빠졌다는 사실까지.
      responses:
        '200':
          description: 방 목록
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Room' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      tags: [rooms]
      summary: 방 만들기
      description: |
        이름만 받는다. 방을 시작하는 사람이 남의 기상 시각을 정하지 않는다 — 각자 자기 것을 갖는다.
        만든 사람은 07:00 평일로 시작하고 `ownerId`가 된다.

        초대 코드와 `codeExpiresAt`(발급 +7일)을 함께 발급한다. 코드는 활성 방 사이에서 유니크해야
        하고, 유니크 제약에 걸리면 다시 뽑아 재시도하면 된다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string, maxLength: 40 }
      responses:
        '201':
          description: 생성됨
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Room' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /rooms/join:
    post:
      tags: [rooms]
      summary: 초대 코드로 방 참여
      description: |
        클라이언트가 가장 기다리는 엔드포인트. `store.joinRoomByCode`는 지금 같은 코드를 가진
        **로컬** 방을 만드는 것으로 흉내만 내고 있어서, 같은 코드를 넣은 두 폰이 서로 무관한 두 방이
        된다. 이게 진짜로 동작하기 전까지 이 제품의 어느 부분도 동작하지 않는다.

        코드는 발급 후 7일에 만료되고 방은 최대 5명이다. 둘 다 여기서만 검사한다.

        **404와 410을 구분할 것.** "그런 코드가 없다"와 "이 코드는 만료됐다"는 코드를 입력하는 사람에게
        전혀 다른 문제이고, 클라이언트가 다른 문구를 보여준다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code: { $ref: '#/components/schemas/InviteCode' }
      responses:
        '200':
          description: 참여함
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Room' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404':
          description: 그 코드의 방이 없음
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              examples:
                notFound:
                  value: { code: NOT_FOUND, message: 그런 코드의 방이 없습니다 }
        '409':
          description: 이미 멤버이거나 정원 5명 초과 (ALREADY_MEMBER | ROOM_FULL)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              examples:
                roomFull:
                  value: { code: ROOM_FULL, message: 이 방은 정원이 찼습니다 }
        '410':
          description: 코드가 만료됨 (CODE_EXPIRED)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              examples:
                codeExpired:
                  value: { code: CODE_EXPIRED, message: 이 초대 코드는 만료됐습니다 }

  /rooms/{roomId}:
    parameters:
      - $ref: '#/components/parameters/RoomId'
    patch:
      tags: [rooms]
      summary: 방 이름 변경
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string, maxLength: 40 }
      responses:
        '200':
          description: 변경됨
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Room' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /rooms/{roomId}/code:
    parameters:
      - $ref: '#/components/parameters/RoomId'
    post:
      tags: [rooms]
      summary: 초대 코드 재발급
      description: |
        방장만. 새 코드와 새로운 7일 만료를 돌려주고, 이전 코드는 즉시 동작을 멈춘다. 유출된 코드에
        대한 대응 수단이라서 강퇴와 같은 권한으로 묶었다.
      responses:
        '200':
          description: 새 코드
          content:
            application/json:
              schema:
                type: object
                required: [code, codeExpiresAt]
                properties:
                  code: { $ref: '#/components/schemas/InviteCode' }
                  codeExpiresAt: { type: string, format: date-time }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/NotOwner' }
        '404': { $ref: '#/components/responses/NotFound' }

  /rooms/{roomId}/owner:
    parameters:
      - $ref: '#/components/parameters/RoomId'
    put:
      tags: [rooms]
      summary: 방장을 다른 멤버에게 넘긴다
      description: |
        방장만 호출할 수 있고 `memberId`는 이미 그 방에 있어야 한다.

        **방장은 저절로 바뀌지 않는다.** 나가려는 방장이 먼저 이걸 호출한다. 나가기와 분리해둔 덕에
        나가지 않고 방장만 넘기는 것도 된다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [memberId]
              properties:
                memberId: { type: string }
      responses:
        '200':
          description: 넘겨짐
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Room' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/NotOwner' }
        '404': { $ref: '#/components/responses/NotFound' }

  /rooms/{roomId}/members/me:
    parameters:
      - $ref: '#/components/parameters/RoomId'
    delete:
      tags: [rooms]
      summary: 방 나가기
      description: |
        이 사람의 그 방 `WakeRecord`를 삭제하고, 이 사람이 깨운 기록들의 `wokenByMemberId`를 `null`로
        만든다. 나가면 흔적을 남기지 않는다.

        **방장은 다른 멤버가 남아 있는 방을 나갈 수 없다** — `PUT /rooms/{roomId}/owner`로 후임을
        지정하기 전까지 **409**다. 방장이 마지막 한 명이면 그냥 나가고 방은 삭제된다.
      responses:
        '204': { description: 나감 }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: 방장은 먼저 방을 넘겨야 함 (OWNER_MUST_TRANSFER)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /rooms/{roomId}/members/{memberId}:
    parameters:
      - $ref: '#/components/parameters/RoomId'
      - name: memberId
        in: path
        required: true
        schema: { type: string }
    delete:
      tags: [rooms]
      summary: 멤버 강퇴
      description: |
        `ownerId`만 다른 멤버를 내보낼 수 있고, 그 외에는 403이다.

        나가기와 같은 삭제가 일어난다 — 그 사람의 이 방 `WakeRecord`를 지우고, 그 사람이 깨운
        기록들의 `wokenByMemberId`를 `null`로 만든다.

        v1에 푸시가 없으므로 강퇴된 폰은 다음에 물어볼 때(포그라운드의 `GET /rooms`)에야 안다. 그
        시점부터 이 방은 그 목록에 **없어야** 하고 개별 엔드포인트는 403이나 404로 답해야 한다.
        그러면 클라이언트가 로컬에서 방을 지우고 알람을 취소한다. 그 전까지 그 폰은 이 방 알람을 한 번
        더 울릴 수 있다.
      responses:
        '204': { description: 내보냄 }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/NotOwner' }
        '404': { $ref: '#/components/responses/NotFound' }

  /rooms/{roomId}/members/me/alarm:
    parameters:
      - $ref: '#/components/parameters/RoomId'
    put:
      tags: [rooms]
      summary: 이 방에서의 내 스케줄 설정
      description: |
        객체 전체, 멱등. 클라이언트는 항상 전체 스케줄을 손에 들고 있으니 PATCH는 양쪽이 어긋날 방법만
        늘린다.

        다른 멤버의 스케줄은 내게 읽기 전용이다. 방은 모두의 시각을 보여주지만 남의 알람을 옮길 수
        있는 사람은 없다.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AlarmSchedule' }
      responses:
        '200':
          description: 갱신됨
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Member' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /rooms/{roomId}/assignments:
    parameters:
      - $ref: '#/components/parameters/RoomId'
    get:
      tags: [voice]
      summary: 앞으로 며칠간 누가 나를 깨우는지
      description: |
        **서버로 옮겨야 하는 규칙.** 지금은 클라이언트가 예약 시점에 무작위로 뽑아서, 기기마다 따로
        뽑히고, 알람은 한 목소리로 예약됐는데 기상 화면이 다시 뽑아 다른 사람을 공개할 수 있다.

        AlarmKit은 며칠 전에 파일명을 확정해야 하므로 선택이 미리 내려져 **고정**되어야 한다. 월요일
        목소리를 받아간 기기가 내일 다시 물어도 같은 답을 받아야 한다. 아니면 기상 화면이 거짓말을
        한다.

        규칙: 녹음을 마쳤고 내가 아닌 멤버 중 균등 랜덤. 있으면 좋은 것(v1 필수 아님) — 어제와 같은
        사람은 피한다.

        **언제 만드나 — 크론을 만들지 말 것.** 이 요청이 들어왔을 때 요청된 날짜 범위에서 배정이 없는
        날짜만 그 자리에서 뽑아 저장하고 전부 반환한다. 이렇게 하면 서버가 "지금 몇 시인지" 몰라도
        된다(날짜는 클라이언트가 `from`으로 준다). 이미 만들어진 배정을 다시 뽑아서는 안 된다.

        경쟁 조건은 DB가 막는다: `assignment`의 기본키가 `(room_id, member_id, date)`이므로
        `INSERT ... ON CONFLICT DO NOTHING` 후 다시 SELECT할 것. `SELECT` 확인 후 `INSERT`는 진다.

        클라이언트는 일주일치를 예약하고 각 `voiceUrl`을 한 번 내려받아 App Group에 넣어, AlarmKit이
        오프라인에서 재생할 수 있게 한다.
      parameters:
        - name: from
          in: query
          required: true
          schema: { type: string, format: date, examples: ['2026-08-15'] }
        - name: days
          in: query
          schema: { type: integer, minimum: 1, maximum: 14, default: 7 }
      responses:
        '200':
          description: 날짜별 배정
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Assignment' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /rooms/{roomId}/wakes:
    parameters:
      - $ref: '#/components/parameters/RoomId'
    post:
      tags: [mornings]
      summary: 일어났음을 기록
      description: |
        사람이 **"일어났어요"**를 누를 때 쓰인다. 알람이 울린 뒤 몇 분 지나서일 수도 있고
        **오프라인일 수도 있다** — 과거의 `wokeAt`을 받아주고 `(room, member, date)`에 대해 멱등이어야
        한다. 재시도가 두 번째 아침을 만들면 안 된다.

        `wake`의 기본키가 `(room_id, member_id, date)`이므로 `INSERT ... ON CONFLICT DO NOTHING`으로
        끝난다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [date, wokeAt]
              properties:
                date: { $ref: '#/components/schemas/LocalDate' }
                wokeAt: { $ref: '#/components/schemas/LocalDateTime' }
                wokenByMemberId:
                  type: [string, "null"]
                  description: 기본 사운드로 울렸으면 null.
      responses:
        '200':
          description: 기록됨 (같은 아침을 다시 보내도 같은 응답)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WakeRecord' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    get:
      tags: [mornings]
      summary: 모닝 로그
      description: |
        이 앱의 산출물. 방의 모든 멤버 기록을 담는다 — 내 기록만 보이면 공동 산출물로서 절반만
        동작하는 것이다.
      parameters:
        - name: from
          in: query
          required: true
          schema: { $ref: '#/components/schemas/LocalDate' }
        - name: to
          in: query
          required: true
          schema: { $ref: '#/components/schemas/LocalDate' }
      responses:
        '200':
          description: 기록 목록
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/WakeRecord' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: |
        `POST /me`가 준 불투명 토큰. 만료되지 않는다 — 클라이언트에 갱신 경로가 없다.

  parameters:
    RoomId:
      name: roomId
      in: path
      required: true
      schema: { type: string }

  responses:
    Unauthorized:
      description: 토큰이 없거나 잘못됨 (code=UNAUTHORIZED)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    NotFound:
      description: 그런 방이 없거나 내가 그 방에 없음 (code=NOT_FOUND)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    NotOwner:
      description: 방장만 할 수 있는 동작 (code=NOT_OWNER)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    FileTooLarge:
      description: 파일이 너무 큼 (code=FILE_TOO_LARGE)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    UnsupportedFormat:
      description: 알람으로 울릴 수 없는 포맷 (code=UNSUPPORTED_FORMAT)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }

  schemas:
    Error:
      type: object
      description: |
        성공이 아닌 모든 응답의 모양. 클라이언트가 상태 코드만으로 문구를 정하는 곳이 있어서
        (410 vs 404) 상태 코드가 `message`보다 중요하다.
      required: [code, message]
      properties:
        code:
          type: string
          description: 기계가 분기하는 값.
          examples: ['CODE_EXPIRED']
          enum:
            - UNAUTHORIZED
            - NOT_OWNER
            - NOT_FOUND
            - ROOM_FULL
            - ALREADY_MEMBER
            - OWNER_MUST_TRANSFER
            - CODE_EXPIRED
            - FILE_TOO_LARGE
            - UNSUPPORTED_FORMAT
            - VALIDATION_ERROR
            - INTERNAL
        message:
          type: string
          description: 사람이 읽는 값.
          examples: ['이 초대 코드는 만료됐습니다']

    LocalDate:
      type: string
      format: date
      description: 그 사람의 로컬 시간 기준 YYYY-MM-DD.
      examples: ['2026-08-15']

    LocalDateTime:
      type: string
      description: |
        **시간대 접미사가 없는** 로컬 벽시계. 07:00 알람은 폰이 어디 있든 07:00이고, 이 API의 어디서든
        UTC로 변환하면 누군가의 아침이 옮겨진다.
      examples: ['2026-08-15T06:58:00']

    InviteCode:
      type: string
      pattern: '^[ABCDEFGHJKLMNPQRSTUVWXYZ2-9]{6}$'
      description: 6자, 0/O/1/I 제외 — 소리내어 읽고 타이핑하는 값이다.
      examples: ['K7QM3P']

    AlarmSchedule:
      type: object
      description: 한 사람의, 한 방에서의 기상 설정.
      required: [time, days, enabled, snoozeEnabled, snoozeMinutes]
      properties:
        time:
          type: string
          pattern: '^([01][0-9]|2[0-3]):[0-5][0-9]$'
          description: 24시간 로컬 벽시계.
          examples: ['07:00']
        days:
          type: integer
          minimum: 0
          maximum: 127
          description: |
            비트마스크. bit0=월 … bit6=일. 31=평일, 96=주말, 127=매일, 0=반복 없음(1회성).
          examples: [31]
        enabled: { type: boolean }
        snoozeEnabled: { type: boolean }
        snoozeMinutes:
          type: integer
          enum: [5, 9, 10, 15]

    Me:
      type: object
      required: [id, name]
      properties:
        id: { type: string }
        name: { type: string }
        voiceUrl: { type: [string, "null"], format: uri }
        voiceDurationMs: { type: [integer, "null"] }

    Member:
      type: object
      description: 방 안의 다른 사람들에게 보이는 모습.
      required: [id, name]
      properties:
        id: { type: string }
        name: { type: string }
        voiceUrl:
          type: [string, "null"]
          format: uri
          description: 녹음 전에는 null. 받을 때 Bearer 토큰이 필요하다.
        voiceDurationMs: { type: [integer, "null"] }
        voiceUpdatedAt:
          type: [string, "null"]
          format: date-time
          description: |
            클라이언트가 다시 내려받을 시점을 판단하는 근거. 서명 URL을 쓰더라도 이 값은 서명이
            바뀌었다고 달라지면 안 된다.
        alarm:
          oneOf:
            - $ref: '#/components/schemas/AlarmSchedule'
            - type: 'null'
          description: 설정하지 않았으면 null이고, 그 사람에게는 아무것도 울리지 않는다.

    Room:
      type: object
      description: 최대 5명. 6번째 참여는 거부된다.
      required: [id, name, code, codeExpiresAt, ownerId, createdAt, members]
      properties:
        id: { type: string }
        name: { type: string }
        code: { $ref: '#/components/schemas/InviteCode' }
        codeExpiresAt:
          type: string
          format: date-time
          description: |
            코드 발급 +7일. 클라이언트는 남은 기간을 보여주고, 지나면 방장에게 재발급을 제안한다.
        ownerId:
          type: string
          description: |
            방을 만든 사람. 강퇴·코드 재발급·이관을 할 수 있는 유일한 멤버이고, 방장은 저절로 바뀌지
            않는다.
        createdAt: { type: string, format: date-time }
        members:
          type: array
          maxItems: 5
          description: 참여 순서.
          items: { $ref: '#/components/schemas/Member' }

    Assignment:
      type: object
      description: 한 사람의 하루 아침에 울릴 목소리. 한 번 정하면 바뀌지 않는다.
      required: [date, wokenByMemberId]
      properties:
        date: { $ref: '#/components/schemas/LocalDate' }
        wokenByMemberId:
          type: [string, "null"]
          description: |
            방에 녹음한 사람이 아무도 없으면 null — 클라이언트는 없는 파일명으로 예약하는 대신
            시스템 기본 알람음으로 폴백한다.
        voiceUrl: { type: [string, "null"], format: uri }

    WakeRecord:
      type: object
      description: 한 사람, 한 아침, 한 방.
      required: [roomId, date, memberId, wokeAt]
      properties:
        roomId: { type: string }
        date: { $ref: '#/components/schemas/LocalDate' }
        memberId: { type: string }
        wokeAt: { $ref: '#/components/schemas/LocalDateTime' }
        wokenByMemberId:
          type: [string, "null"]
          description: |
            기본 사운드로 울렸으면 null. 그 사람이 방을 나가면 여기도 null이 된다.
